---
layout: generic_collection_item
pagination: true
meta:
  - label: 'Label'
    value: page.label
  - label: 'Artist'
    value: page.artist
  - label: 'Title'
    value: page.title
  - label: 'Location'
    value: page.location
  - label: 'Photographer'
    value: page.photographer
  - label: 'Type'
    value: page.type_of_photo
  - label: 'Category'
    value: page.category
  - label: 'Entry Year'
    value: page.entry_year
  - label: 'IIIF Manifest'
    value: page.manifest
    type:  link
---
